
html {
    position: relative;
    overflow-x: hidden !important;
}

.banner-img {
    width: auto;
    min-width: 100%;
    max-height: 450px;
    object-fit: cover;
}

@media screen and (max-width: 960px) {
    .banner-img {
        max-height: 230px;
    }
}

@media screen and (max-width: 1440px) {
    .banner-img {
        max-height: 300px;
    }
}

.smallest-text {
    font-size: .8rem;
}

.wrapper {
    position: relative;
    overflow-x: hidden;
}

.news-slider {
    z-index: 2;
    max-width: 1300px;
    margin: 0 auto;
    overflow: hidden;
}

@media screen and (max-width: 1300px) {
    .news-slider {
        max-width: 1000px;
    }
}

@media screen and (max-width: 576px) {
    .news-slider {
        margin-top: 45px;
    }
}

@media screen and (max-width: 480px) {
    .news-slider {
        margin-top: 1rem;
    }
}

.news-slider__wrp {
    display: flex;
    align-items: flex-start;
    position: relative;
    z-index: 2;
    margin-bottom: 4rem;
}

.news-slider__item {
    margin: 2rem 0;
    width: 220px;
    flex-shrink: 0;
}

@media screen and (max-width: 960px) {
    .news-slider__item {
        margin: 1rem 0;
        width: 180px;
    }
}

@media screen and (max-width: 480px) {
    .news-slider__item {
        margin: 0;
    }
}

.news-slider__item.swiper-slide {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.3s;
}

.news-slider__item.swiper-slide-active, .news-slider__item.swiper-slide-prev, .news-slider__item.swiper-slide-next {
    opacity: 1;
    pointer-events: auto;
}

.news-slider__arrow {
    background: var(--slider-arrow-background-color);
    border: none;
    display: inline-flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    z-index: 12;
    cursor: pointer;
    outline: none !important;
}

    .news-slider__arrow:focus {
        outline: none !important;
    }

    .news-slider__arrow .icon-font {
        display: inline-flex;
    }

    .news-slider__arrow.news-slider-prev {
        left: 1rem;
        transform: translateY(50%);
    }

    .news-slider__arrow.news-slider-next {
        right: 1rem;
        transform: translateY(50%);
    }

.swiper-button-disabled {
    visibility: hidden !important;
}

.course-card-title {
    min-height: 4.75rem;
    font-size: 1.25rem;
}

@media screen and (max-width: 768px) {
    .course-card-title {
        min-height: 3.6rem;
    }
}

@media screen and (max-width: 960px) {
    .course-card-title {
        min-height: 2rem;
    }
}

@media screen and (max-width: 1440px) {
    .course-card-title {
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .course-card-title {
        font-size: 1.25rem;
    }
}


.star-container .icon  {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    width: auto;
}

.star-container .icon {
    color: var(--star-color-amber);
    transition: var(--tran-03);
}

.course-dropdown-menu {
    padding-left: 0 !important;
    margin-top: .7rem;
    position: absolute;
    z-index: 9999999;
}

    .course-dropdown-menu li {
        list-style: none;
    }