
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --hover-blue: #E8F4F7;
    --sidebar-color: #FFF;
    --primary-color: #0060A9;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --text-color-shaded: #212529;
    --star-color-amber: #ffa500;
    --success-green: #22c55e;
    --danger-red: #dc2626;
    --selection-color: #fff;
    --slider-background-color: #222222;
    --slider-arrow-background-color: #fff;
    --slider-pagination-color: #fff;
    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
    --tran-06: width 0.1s ease;
    --tran-07: width 0.4s ease;
}
