
main {
    min-height: 100vh;
}

/*Common Styles*/
.flex-row {
    display: flex;
    align-items: center;
}

.hr-title svg {
    width: 2.25rem;
    height: 2.25rem;
    margin-right: .75rem;
}

.hr-title h3, .hr-title-single {
    margin-top: .5rem;
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
}
