

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

.hrsidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: calc(100% - 6rem);
    width: 20vw;
    background: var(--primary-color-light);
    transition: var(--tran-07);
    z-index: 50;
    padding: 2rem 0 !important;
    overflow: hidden;
}

    .hrsidebar ul {
        /* display: flex;
    flex-direction: column; */
        padding-left: 0 !important;
        height: 100%;
        position: relative;
    }

        .hrsidebar ul li {
            list-style: none;
            margin-bottom: .75rem;
        }

            .hrsidebar ul li a {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: var(--text-color);
                padding: 0 2.5rem;
                border-radius: .25rem;
                transition: var(--tran-07);
                width: 20vw;
                height: 4rem;
            }

                .hrsidebar ul li a span {
                    margin-left: .75rem;
                }

                .hrsidebar ul li a svg {
                    width: 1.8rem;
                    height: 1.8rem;
                }

    .hrsidebar li a:hover {
        background-color: var(--primary-color);
        color: #fff;
    }

        .hrsidebar li a:hover > svg {
            stroke: #fff;
        }

.hrsidebar-default {
    width: 7rem;
}

    .hrsidebar-default ul li a span {
        display: none;
    }

    .hrsidebar-default ul li a {
        border-radius: unset;
    }
