.powered-by img {
    width: 4rem;
    height: auto;
}

footer {
    border-top: var(--primary-color)
}

.footer-left {
    align-items: center;
}

    .footer-left a {
        text-decoration: none;
        font-size: .8rem;
    }

.footer-right {
    font-size: .8rem;
    align-items: flex-end;
}

.footer .row {
    align-items: flex-start;
}

@media screen and (max-width: 768px) {
    .footer-left {
        flex-direction: column;
        align-items: flex-start;
    }

        .footer-left span {
            display: none;
        }

    .footer .row {
        align-items: center;
    }
}

@media screen and (max-width: 480px) {

    .footer {
        padding: 0;
    }

    .footer-left span {
        display: block;
    }

    .footer-left {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer-right {
        align-items: center;
    }
}
