.chart-monitor {
    width: 500px;
    border-radius: 0.3rem;
}

#page-content {
    margin-top: 6rem;
}


@media only screen and (max-width: 1025px) {

    .chart-monitor {
        width: 550px;
        margin: 0 auto;
    }

    .chartmg {
        padding-left: 0 !important;
    }
}

@media only screen and (max-width: 768px) {

    .chart-monitor {
        width: 450px;
        margin: 0 auto;
    }
}


@media only screen and (max-width: 600px) {

    .chart-monitor {
        width: 350px;
        margin: 0 auto;
        padding: 0 !important;
    }

    .chartmg {
        padding-left: 0 !important;
    }
}
