<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/courseadmin")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- HEADER -->
    <nav class="navigation-bar border-bottom bg-white h-7">
        <div class="container d-block">
            <div class="row gy-3 flex-md-nowrap">
                <div class="col-12 col-md-4 col-lg-4 col-xl-3 d-flex align-items-center header-logo-wrapper">
                    <button type="button" class="btn btn-default p-0" id="SideBarHandler">
                        <img src="./Content/Icons/HambugerMenu.svg" width="40" height="40" />
                    </button>
                    <div class="d-flex align-items-center">
                        <img src="./Content/Images/asean-logo.png" class="header-logo" alt="LOGO">
                        <a href="#" class="navbar-brand fs-2 brand-name user-select-none">ASEAN</a>
                    </div>

                    <div class="align-items-center justify-content-end mobile-usericon-wrapper">
                        <img src="./Content/Icons/Bell.svg" width="40" height="40" />
                        <div class="ms-4 d-inline-flex flex-column align-content-center icon-wrapper" style="height: auto;">
                            <button type="button" class="border-0 user-icon" style="background-image: url('https://images.unsplash.com/photo-1650241159687-cb8b3ed0ad9e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');">
                            </button>
                            <p class="smallest-text m-0 text-center ">James</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
                    <form class="w-100">
                        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                    </form>
                </div>
                <div class="col-2 col-lg-2 col-xl-3 d-none d-md-flex align-items-center justify-content-end last-child">
                    <img src="./Content/Icons/Bell.svg" width="40" height="40" />
                    <div class="ms-4 d-inline-flex flex-column align-content-center icon-wrapper" style="height: auto;">
                        <button type="button" class="border-0 user-icon" style="background-image: url('https://images.unsplash.com/photo-1650241159687-cb8b3ed0ad9e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');">
                        </button>
                        <p class="smallest-text m-0 text-center ">Lewis</p>
                    </div>
                </div>
            </div>
        </div>
    </nav>


    <aside class="hrsidebar hrsidebar-default" id="HRSideBar">
        <ul>
            <li>
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#7c858c" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                    </svg>
                    <span>Calendar</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#7c858c" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <span>Info</span>
                </a>
            </li>
        </ul>
    </aside>
    <!-- END HEADER -->
    @RenderBody()

    <!-- FOOTER -->
    <footer class="footer mt-auto py-3 bg-light border-2 border-danger container">
        <div class="row">
            <div class="col-12 col-md-3 footer-logo">
                <img src="./Content/Images/asean-logo.png" alt="LOGO">
            </div>
            <ul class="col-12 col-md-4 row footer-links">
                <h4 class="text-muted">External Links</h4>
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Services</a>
                <a href="#">My Account</a>
                <a href="#">FAQ</a>
            </ul>
            <span class="text-muted col-12 col-md-4 footer-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, illo nam quidem pariatur necessitatibus nobis ea quo fugiat assumenda asperiores fugit nesciunt totam ducimus reiciendis est iste hic cumque autem corporis id ad eos animi. Laudantium cumque recusandae odit nihil?</span>
        </div>
    </footer>
    <!-- END OF FOOTER -->
</body>
</html>
