<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="style.css">

    <!----===== Boxicons CSS ===== -->
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <title>Learning Plan</title>
</head>
<body>
    <aside class="sidebar close">
        <header>
            <i class="bx bx-chevron-right toggle"></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class="bi bi-mortarboard icon"></i>
                            <span class="text nav-text">Plan</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class="bi bi-calendar-event icon"></i>
                            <span class="text nav-text">Calender</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class="bi bi-award icon"></i>
                            <span class="text nav-text">Recommnedations</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class="bi bi-star icon"></i>
                            <span class="text nav-text">Interested Courses</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </aside>
    <main class="cotainer">
        <section class="home">
            <h1>Hellwo00000000</h1>
            <canvas class="pieChart" width="100px"></canvas>
        </section>
    </main>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="script.js"></script>
</body>
</html>