
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutEvaluator.cshtml";
}

<main style="margin-top: 6rem;" class="bg-light py-5 py-md-3">
    <div class="container">
        <div class="row d-grid gap-1">
            <!-- Start of the Table -->
            <div class="grid m-0 mt-3 tableadjust">
                <div><h2 class="text-start fw-bold">My Courses</h2></div>
                <div class="leanerplanetable m-0 mt-3">
                    <table class="tabledatawrapper shadow">
                        <thead class="tableheader">
                            <tr>
                                <th class="align-top">Course Title</th>
                                <th class="align-top">Course Category</th>
                                <th class="align-top">Due Date</th>
                                <th class="align-top">Submission</th>
                                <th class="align-top">Action</th>
                            </tr>
                        </thead>
                        <tbody id="assignedCourses" class="text-wrap">
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End of the Table -->
        </div>
    </div>
</main>

