@{
    ViewBag.Title = "Home Page";
}

<aside class="main-menu bg-light mw-25" id="side-menu">
</aside>

<main class="container pt-4 mb-5">
    <img class="img-fluid rounded banner-img" src="https://images.unsplash.com/photo-1649825080594-4253ad0f0db1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="Banner">

    <!-- TOP RATED COURSES -->
    <div class="top-rated-courses mt-4">
        <div class="title-container d-flex align-items-center justify-content-between">
            <h2>Top Rated Courses</h2>
            <a href="#">See more...</a>
        </div>

        <div class="row mt-2 gy-4" id="topRatedCourses">
        </div>
    </div>
    <!-- END OF TOP RATED COURSES -->
    <!-- IN PROGRESS COURSES -->
    <div class="top-rated-courses mt-4">
        <div class="title-container d-flex align-items-center justify-content-between">
            <h2>In Progress Courses</h2>
            <a href="#">See more...</a>
        </div>

        <div class="row mt-2 gy-4" id="inProgressCourses">
        </div>
    </div>
    <!-- END OF IN PROGRESS COURSES -->
</main>