@{
    ViewBag.Title = "Home Page";
}

<main class="pt-4 mb-5" style="margin-top: 6rem;">
    <!-- Infinite Swiper -->
    <div class="swiper-infinite mySwiper">
        <div class="mobile-banner-logo logo">
            <img src="./Content/Images/asean-logo.png" alt="ASEAN Logo">
        </div>
        <div class="left-floating-banner position-absolute">
            <div class="position-relative left-floating-container">
                <div class="logo">
                    <img src="./Content/Images/asean-logo.png" alt="ASEAN Logo">
                </div>
                <h3 class="h3">Learning Management System</h3>
                <ul>
                    <li>
                        <a href="">
                            <span>
                                <i class="bi bi-arrow-right-circle"></i>
                            </span>
                            ASEAN Regional Form
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>
                                <i class="bi bi-arrow-right-circle"></i>
                            </span>
                            ASEAN Foundation
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>
                                <i class="bi bi-arrow-right-circle"></i>
                            </span>
                            ASEAN Infrastructure Fund (AIF)
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>
                                <i class="bi bi-arrow-right-circle"></i>
                            </span>
                            ASEAN Business Advisory Council
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>
                                <i class="bi bi-arrow-right-circle"></i>
                            </span>
                            ASEAN Centre for Biodiversity
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="d-flex align-content-center justify-content-center flex-column title-banner">
            <div class="title-banner-content">
                <h2>ASEAN, AIIB, MCDF, foster partnership in infrastructure</h2>
                <a href="button" class="ps-4 pe-4 pt-3 pb-3 fs-5">Learn More</a>
            </div>
        </div>

        <div class="bottom-floating-image position-absolute">
            <div class="position-relative content-container">
                <p>ASEAN, AIIB, foster partnership in infrastructure</p>
            </div>
        </div>
        <div class="swiper-wrapper">
            <div class="swiper-slide asean-banner image1"></div>
            <div class="swiper-slide asean-banner image2"></div>
            <div class="swiper-slide asean-banner image3"></div>
        </div>
    </div>
    <!-- End of Infinite Swiper -->

    <div class="row header-container-landing">
        <!-- LEFT CONTAINER -->
        <div class="col-12 col-xl-7 col-xxl-8">
            <!-- TOP RATED COURSES -->
            <div class="mt-4">
                <div class="title-container d-flex align-items-center justify-content-between">
                    <h2>Top Rated</h2>
                </div>
                <div class="wrapper">

                    <div class="news-slider">
                        <button type="button" class="news-slider__arrow news-slider-prev">
                            <span class="icon-font">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
                                </svg>
                            </span>
                        </button>
                        <div class="news-slider__wrp swiper-wrapper" id="toprated_courses">
                        </div>

                        <button class="news-slider__arrow news-slider-next">
                            <span class="icon-font">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
                                </svg>
                            </span>
                        </button>
                    </div>

                </div>
            </div>
            <!-- END OF TOP RATED COURSES -->
            <!-- IN PROGRESS COURSES -->
            <div class="top-rated-courses">
                <div class="title-container d-flex align-items-center justify-content-between">
                    <h2>In Progress</h2>
                </div>

                <div class="wrapper">

                    <div class="news-slider">
                        <button type="button" class="news-slider__arrow news-slider-prev">
                            <span class="icon-font">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
                                </svg>
                            </span>
                        </button>
                        <div class="news-slider__wrp swiper-wrapper" id="in_progress_courses">
                        </div>

                        <button class="news-slider__arrow news-slider-next">
                            <span class="icon-font">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
                                </svg>
                            </span>
                        </button>
                    </div>

                </div>
            </div>
            <!-- END OF IN PROGRESS COURSES -->
            <!-- NEW & RECOMMENDATIONS COURSES -->
            <div class="top-rated-courses mt-4">
                <div class="title-container d-flex align-items-center justify-content-between">
                    <h2>New & Recommended</h2>
                </div>

                <div class="wrapper">

                    <div class="news-slider">
                        <button type="button" class="news-slider__arrow news-slider-prev">
                            <span class="icon-font">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
                                </svg>
                            </span>
                        </button>
                        <div class="news-slider__wrp swiper-wrapper" id="new_recommendations_courses">
                        </div>

                        <button class="news-slider__arrow news-slider-next">
                            <span class="icon-font">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
                                </svg>
                            </span>
                        </button>
                    </div>

                </div>
            </div>
            <!-- END OF NEW & RECOMMENDATIONS COURSES -->
        </div>
        <!-- END OF LEFT CONTAINER -->
        <!-- RIGHT CONTAINER -->
        <div class="col-12 col-xl-5 col-xxl-4">
            <div class="mt-4 right-my-planning">
                <h3 class="my-learning">My Learning</h3>
                <div class="mt-1 learning-card-wrapper">
                    <!-- DYNAMIC CARDS GOES HERE -->
                </div>
            </div>
        </div>
    </div>
    <!-- END OF     RIGHT CONTAINER -->
    </div>
</main>